<%- include('../partials/header') %>

<h1>Sign In</h1>

<form action="/auth/sign-in" method="POST">
  <label>Username:</label>
  <input type="text" name="username" required>

  <label>Password:</label>
  <input type="password" name="password" required>

  <button type="submit">Sign In</button>
</form>


<a href="/auth/sign-up">Don't have an account? Sign Up</a>

<%- include('../partials/footer') %>
