<%- include('../partials/header') %>

<h1>Sign Up</h1>

<form action="/auth/sign-up" method="POST">
  <input type="text" name="username" placeholder="Username" required />
  <input type="email" name="email" placeholder="Email" required />
  <input type="password" name="password" placeholder="Password" required />
  <button type="submit">Sign Up</button>
</form>


<a href="/auth/sign-in">Already have an account? Sign In</a>

<%- include('../partials/footer') %>
