<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>GymBud</title>
  <link rel="stylesheet" href="/css/style.css" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
  <div class="logo-container">
    <img src="/images/logo.png" alt="GymBud Logo" class="logo">
  </div>
    <nav>
    <a href="/">Home</a>
    <% if (user) { %>
        <a href="/users/<%= user._id %>/logs">My Logs</a>
        <a href="/users/<%= user._id %>/logs/new">Add Log</a>
        <a href="/auth/sign-out">Sign Out</a>
    <% } else { %>
        <a href="/auth/sign-in">Sign In</a>
        <a href="/auth/sign-up">Sign Up</a>
    <% } %>
    </nav>
  </header>
