<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>GymBud Dashboard</title>
</head>
<body>
  <h1>Welcome to GymBud!</h1>

  <% if (user) { %>
    <p>Hello, <%= user.name %>!</p>
    <a href="/users/<%= user._id %>/logs">View My Workout Logs</a><br>
    <a href="/users/<%= user._id %>/logs/new">Add a New Log</a><br>
    <a href="/auth/sign-out">Sign Out</a>
  <% } else { %>
    <a href="/auth/sign-in">Sign In</a> |
    <a href="/auth/sign-up">Sign Up</a>
  <% } %>
</body>
</html>
