<%- include('../partials/header') %>

<h1>New Workout Log</h1>

<form action="/users/<%= userId %>/logs" method="POST">
  <label for="workoutType">Workout Type:</label>
  <input type="text" name="workoutType" required><br>

  <label for="duration">Duration (mins):</label>
  <input type="number" name="duration"><br>

  <label for="date">Date:</label>
  <input type="date" name="date"><br>

  <label for="notes">Notes:</label>
  <textarea name="notes"></textarea><br>

  <button type="submit">Log It</button>
</form>
